*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color:black;
}
.he{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    font-weight: 700;
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 20px 20px 20px 20px;
    animation: animatel 2s ease-in-out 6s forwards;
}
.he .p{
    font-size: 40px;
    margin-top: 1%;
}
@keyframes animatel {
    0%{
        margin-top: 0px;
        opacity: 0;
    }
    100%{
        margin-top: -15%;
        opacity: 1;
    }
}
.year{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    padding: 200px 300px 0px 0px;
}
.year{
    font-family: 'Courier New', Courier, monospace;
    font-size: 175px;
    font-weight: 700;
    color: #7a8fe8;
}
.y1{
    animation: year 2s ease-in-out 6s forwards;
}
@keyframes year {
    0%{
        color: #7a8fe8;
    }
    100%{
        color: orange;
    }
    
}
.y2{
    animation: year2 2s ease-in-out 6s forwards;
}
@keyframes year2 {
    0%{
        color: #7a8fe8;
    }
    100%{
        color: rgb(124, 240, 249);
    }
    
}
.y3{
    animation: year3 2s ease-in-out 6s forwards;
}
@keyframes year3 {
    0%{
        color: #7a8fe8;
    }
    100%{
        color: rgb(245, 82, 106);
    }
    
}
span.l{
    position: absolute;
    top: 50%;
    right: 57%;
    margin-right: -210px;
    animation: Yr_2024 4s ease-in 5s forwards;
}
@keyframes Yr_2024 {
    0%{
        top: 50%;
    }
    100%{
        top: -100%;
    }
}
span.p{
    position: absolute;
    right: 0%;
    margin-right: -110px;
    animation: Yr_2025 6s ease-in-out  forwards;
}
@keyframes Yr_2025 {
    0%{
        right: 0%;
    }
    66.6666%{
        right: 50%;
        margin-right: -200px;
    }
    90%{
        right: 50%;
        margin-right: -200px;
    }
    100%{
        right: 50%;
        color: rgb(94, 239, 94);
    }
}
span.p::before{
    content:" ";
    width: 0px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background-color: green;
    transform: rotate(0deg);
    transform-origin: left top;
    position: absolute;
    top: 55px;
    left: 10px;
    z-index:-1;
    animation: ballon 1s ease-in-out 4s;
}
@keyframes ballon {
    0%{
        transform: rotate(-30deg);
        width: 40px;
    }
    100%{
        transform: rotate(-150deg);
        width: 70px;
    }
}
.ballon{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    right: 0;
    margin-right: -110px;
    animation: ballon2 10s ease-in-out forwards;
}
@keyframes ballon2 {
    0%{
        right: 0%;
    }
    40%{
        right: 50%;
        margin-right: -200px;
    }
    50%{
        right: 50%;
        margin-right: -110px;
        top: 50%;
    }
    100%{
        top: -100%;
        right: 50%;
    }
}
.ballon::before{
    content:" ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    background-color:transparent transparent green transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index:-1;
    margin-left: -10px;
}
.ballon::after{
    content:" ";
    width: 4px;
    height: 100px;
    display: block;
    border-radius: 3px;
    background: #fff;
    border-radius: 0px 0px 3px 3px;
    position: absolute;
    left: 50px;
    margin: -2px;
    bottom: -110px;
}

.fire{
    position: relative;
}
.c{
    position:absolute;
    width: 2px;
    height: 50px;
}
.c::before{
    content: ' ';
    background-color: gold;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    animation: fire 2s ease-in-out infinite;
}
 @keyframes fire {
    0%{
        top: 100%;
    }
    25%{
        top: 50%;
    }
    50%{
        top: -25%;
    }
    75%{
        top: -50%;
    }
    100%{
        top: -50%;
    }
 }


.c:nth-child(1){
    transform: rotate(0deg) translateY(-15px);
}
.c:nth-child(2){
    transform: rotate(30deg) translateY(-15px);
}
.c:nth-child(3){
    transform: rotate(60deg) translateY(-15px);
}
.c:nth-child(4){
    transform: rotate(90deg) translateY(-15px);
}
.c:nth-child(5){
    transform: rotate(120deg) translateY(-15px);
}
.c:nth-child(6){
    transform: rotate(150deg) translateY(-15px);
}
.c:nth-child(7){
    transform: rotate(180deg) translateY(-15px);
}
.c:nth-child(8){
    transform: rotate(210deg) translateY(-15px);
}
.c:nth-child(9){
    transform: rotate(240deg) translateY(-15px);
}
.c:nth-child(10){
    transform: rotate(270deg) translateY(-15px);
}
.c:nth-child(11){
    transform: rotate(300deg) translateY(-15px);
}
.c:nth-child(12){
    transform: rotate(330deg) translateY(-15px);
}

#fire1{
    left: 40%;
    top: 300px;
}
#fire2{
    left: 60%;
    top: 100px;
}
#fire3{
    left: 85%;
    top: 100px;
}
#fire4{
    left: 15%;
    top: 60px;
}
#fire5{
    left: 20%;
    top: 440px;
}
#fire6{
    left: 70%;
    top: 350px;
}
#fire7{
    left: 90%;
    top: 500px;
}
#fire8{
    left: 45%;
    top: 550px;
}